
.header {
  display: flex;
  margin-top: 10px;
  background-color: white;
  width: 420px;
  height: 30px;
  margin-left: 50%;
  transform: translateX(-50%);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  justify-content: center;
  align-items: center;
  color: black;
  font-weight: 200;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  word-spacing: 10px;
  padding: 5px;
  margin-top: 10px;
  border-radius: 20px;
  position: fixed;
  transition: all 0.3s ease;
  z-index: 2;
}

.nav-text {
  color: black;
  font-size: 1.2rem;
  letter-spacing: 1px;
}

.nav-text span {
  cursor: pointer;
  transition: all 0.3s ease;
}

.nav-text span:hover {
  color: #bcbcbc;
  transform: scale(1.1);
}

.dark-mode .header {

  background-color: rgb(30, 30, 30);
  box-shadow: 0 0 8px rgba(255, 255, 255, 0.4);
}


.header.hidden {
  transform: translateX(-50%) translateY(-100%);
}

.header.visible {
  transform: translateX(-50%) translateY(0);
}

.dark-mode .nav-text {
  color: white;
}