* {
  margin: 0;
}

.linkBox {

  top: 230px;
  left: 20px;
  position: fixed;

  width: 250px;
  height: 350px;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
  transition: all ease 0.3s;

}

.dark-mode .linkBox {

  background-color: rgb(16, 16, 16);
  box-shadow: 0 0 12px rgba(255, 255, 255, 0.2);
  color: white;
}

.linkBox ul {
  list-style-type: none;
  font-size: 20px;
  line-height: 45px;
}

.circFlipImg {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-left: 50%;
  transform: translateX(-50%);
  margin-top: 15px;
  margin-bottom: 10px;
  background-image: url('/src/assets/B580334B-B18A-455F-83B5-727FA6204372_4_5005_c.jpeg');
  background-size: cover;
  background-position: center;
}

.circFlipImg:hover{

  background-image: url('/src/assets/C2750FE6-80D7-4E29-8681-8073947BA30A_1_105_c.jpeg');

  background-position: center -110px;

}