/*This is sidebar.css*/

.box {
  margin-top: 75px;
  width: 850px;
  /*background-color: white;*/
  height: 3050px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  /*box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);*/
  transition: all 0.3s ease;

}

.imgWrap {
  background-color: white;
  border-radius: 50%;
  padding: 5px;
  display: flex;
  justify-content: center; /* horizontal */
  align-items: center;
}

.circleImg {
  border-radius: 50%;
  object-fit: cover;
  display: block;
  width: 200px;
  height: 200px;
  border: solid 2px black;
}

.borderImg {
  background-image: url('/src/assets/IMG_27232.jpeg');
  width: 100%;
  height: 70px;
  background-size: contain;    /* zooms out or in to cover the area */
  background-position: top center; /* align top center */
  margin-top: -10px;
  object-fit: fill;  /* stretches to fill width and height */
  
}


.sec {
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
  transition: all ease 0.3s;
  padding: 25px;
  margin-top: 35px;
}

.dark-mode .sec {
  background-color: rgb(23, 23, 23);
  border-radius: 15px;
  box-shadow: 0 0 12px rgba(109, 109, 109, 0.8);
}

*  {
  margin: 0;

}

.sec1 h2 {

  margin-top: 40px;
  text-align: center;
  font-size: 40px;
  font-weight: 300;
}

.sec1 i {
  color: red;
}

.sec1 i .dark-mode{
  color: red;
}

.sec1 i:hover {

  animation: pinDrop 2s ease-in-out infinite;
}

.sec1 h3 {
  margin-top: 35px;
  text-align: center;
}

.projInfo{
  font-size: 22px;
  margin-bottom: 20px;
  width: 380px;
  color: rgb(108, 108, 108);
}

.projPic {

  width: 280px;
  height: 180px;
  transform: translateY(-5px);

}

.row {
  display: flex;
  flex-direction: row;
  gap: 50px;
  justify-content: center;
  
}

.proj {
  margin-left: 50%;
  transform: translateX(-50%);
  width: 730px;
  height: 200px;
  transition: all 0.3s ease;
  padding: 10px;
  padding-top: 30px;
  border-radius: 20px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  gap: 45px;
}

.rowL {
  flex: 1;
}

.rowR {
  flex: 1;
}

.proj:hover {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
}

.title {
  font-size: 35px;
  font-weight: 500;
  margin-bottom: 15px;
}

.sec3 p {
  font-size: 22px;
  width: 650px;
  margin-left: 50%;
  transform: translateX(-50%);
  margin-top: 15px;
}

.trademark {
  bottom: 10px;
  right: 35%;
  position: absolute;
  color: rgb(104, 104, 104);
}

.dark-mode .trademark {
  color: rgb(107, 107, 107);
}
.skills {
  margin-bottom: 50px;
}


.dark-mode .box {

  color: rgb(221, 221, 221);
}

.dark-mode .proj:hover {
  box-shadow: 0 0 8px rgba(255, 255, 255, 0.4);
}



.skills {

  display: flex;
}

.skills li {
  position: absolute;
  list-style: none;
  /*padding-left: 100%;*/
  animation: scroll 7s linear infinite;
  animation-fill-mode: forwards;
  font-size: 20px;
}

.skills li i {
  margin-right: 5px;
}

.skills:hover li {

  animation-play-state: paused;
}

.skills li:nth-child(1) { animation-delay: -6.0s; }
.skills li:nth-child(2) { animation-delay: -4.5s; }
.skills li:nth-child(3) { animation-delay: -3.4s; }
.skills li:nth-child(4) { animation-delay: -2.3s; }
.skills li:nth-child(5) { animation-delay: -1.2s; }
.skills li:nth-child(6) { animation-delay: 0.0s; }


@keyframes scroll {
  from {
    transform: translateX(47vw);
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  to {
    transform: translateX(-2vw);
    opacity: 0;
  }
}

@keyframes jitter {
  0%, 100% { transform: translateY(0); scale: 0;}
  10% { scale: 1;}
  50% { transform: translateY(30px)
    scale(1.2); }
  95% { transform: translateY(0px); scale: 1;}
}

.secTitle {
  font-size: 60px;
  text-align: center;
  font-weight: 200;
  transition: all 0.3s ease;
  margin-bottom: 15px;
}

.secTitle:hover {

  letter-spacing: 3px;
}

.jitter-text {
  animation: jitter 2.0s ease 500ms;
  scale: 0;
}

.tools {
  list-style: none;
  padding: 0;              /* removes default padding */
  margin: 0; 
  display: flex;           /* makes items sit in one row */
  gap: 5px;              /* optional: remove default margin */
}

.sec4 h3 {
  font-size: 30px;
  margin-left: 25px;
  font-weight: 200;

}

.contact-inputs {
  display: block;
  margin: 10px 0;
  padding: 8px;
  border: 1px solid #ccc;
  background-color: white;
  margin-left: 25px;
  border-radius: 12px;
}

#nameInput {
  margin-top: 30px;
  width: 200px;

}

#emailInput {
  width: 200px;
  margin-top: 20px;
}

#messageInp {
  width: 400px;
  height: 150px;
  margin-top: 20px;
}

.emoji-wave {
  display: inline-block;
  transition: all 0.2s ease;
  cursor: grab;
}

.sec4 button {
  width: 70px;
  background-color: rgb(235, 235, 235);
}

.sec4 button:hover {
  background-color: rgb(212, 212, 212);
}

.emoji-wave:hover {

  animation: wave 0.6s infinite ease-in-out;
}

@keyframes wave {
  0% {transform: rotate(0deg);}
  25% {transform: rotate(30deg);}
  50% {transform: rotate(0deg);}
  75% {transform: rotate(30deg);}
  100% {transform: rotate(0deg);}
}

@keyframes pinDrop {

  0% {transform: translateY(0px);}
  80% {transform: translateY(-20px) scale(1.1);}
  100% {transform: translateY(0px);}
}

@keyframes nameAnimate {

  0% {transform: translateY(0px);}
  100% {transform: translateY(0px) scale(1.6);}
}

@keyframes movePinUp {
  0% {transform: translateY(0px);}
  80% {transform: translateY(-10px) scale(1.2);}
  100% {transform: translateY(0px) scale(1.2);}
}

@keyframes bustIn {
  0% {transform: translateY(0px);}
  20% {transform: translateY(0px) scale(0);}
  80% {transform: translateY(0px) scale(0);}
  90% {transform: translateY(0px) scale(1.4);}
  100% {transform: translateY(0px) scale(1.2);}
}

.nameText {
  transition: all ease .3s;
  animation: nameAnimate 3s ease 1 2.5s;
  animation-fill-mode: forwards;

}

.locateText {
  transition: all ease .3s;
  animation: movePinUp 3s ease 1 3.4s;
  animation-fill-mode: forwards;
}

.fullStack {
  animation: bustIn 3s ease 1 3.8s;
  animation-fill-mode: forwards;
}

.colorText {
   color: #47058c;
   transition: all ease 0.3s;
}

.dark-mode .colorText {
  color: #e0c4ff;
}