/*This is sidebar.css*/
body { 
  background-color: rgb(250, 250, 250);
}

.box {
  margin-top: 75px;
  width: 800px;
  background-color: white;
  height: 2400px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);

}

.imgWrap {
  background-color: white;
  border-radius: 50%;
  padding: 5px;
  display: flex;
  justify-content: center; /* horizontal */
  align-items: center;
}

.circleImg {
  border-radius: 50%;
  object-fit: cover;
  display: block;
  width: 200px;
  height: 200px;
  border: solid 2px black;
}

.borderImg {
  background-image: url('/src/assets/IMG_27232.jpeg');
  width: 100%;
  height: 80px;
  background-size: contain;    /* zooms out or in to cover the area */
  background-position: top center; /* align top center */
  margin-top: -10px;
  object-fit: fill;  /* stretches to fill width and height */
  
}

.sec1 h1 {
  margin-top: 30px;
  background-color: white;
  text-align: center;
  font-size: 120px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
}

*  {
  margin: 0;

}

.sec1 h2 {

  margin-top: 40px;
  text-align: center;
  font-size: 40px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}

.sec1 h3 {
  margin-top: 35px;
  text-align: center;
  font-size: 80px;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 60px;
  font-weight: 500;
}

.sec2 h2 {
  font-size: 50px;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  margin-top: 60px;
  font-weight: 300;
}

.projInfo{
  font-size: 17px;
  margin-bottom: 25px;
}

.sec2 a {
  
}

.row {
  display: flex;
  flex-direction: row;
  gap: 150px;
  justify-content: center;
  
}

.proj {
  margin-top: 65px;
  background-color: white;
  width: 200px;
  height: 200px;
  transition: all 0.2s ease;
  font-family: 'Montserrat', sans-serif;
  padding: 20px;
  border-radius: 15%;
  cursor: pointer;
}

.proj:hover {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
}

.spacing  {
  height: 45px;
}

.sec3 h2 {
  font-size: 60px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  margin-top: 50px;
}

.title {
  font-size: 25px;
  font-weight: 800;
  text-align: center;
  margin-bottom: 10px;
}

.sec3 p {
  font-size: 22px;
  width: 650px;
  margin-left: 50%;
  transform: translateX(-50%);
  font-family: 'Montserrat', sans-serif;
  margin-top: 15px;
}

.sec3 h3 {

  font-size: 60px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
  text-align: center;
  margin-top: 15px;

}

.trademark {
  bottom: 10px;
  right: 35%;
  position: absolute;
}

.skills {
  margin-bottom: 50px;
}